
@using System.Data
@model DataTable
<h3>Szczegółowy biling połączeń Stacjonarnych</h3>
<table class="table table-striped">
    <thead>
        <tr><th>Data</th><th>Numer Wybierany</th><th>Czas (sek)</th><th>Koszt Brutto</th></tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["DataPolaczenia"]</td>
                <td>@row["NumerWybierany"]</td>
                <td>@row["CzasTrwania"]</td>
                <td>@row["KwotaBrutto"] zł</td>
            </tr>
        }
    </tbody>
</table>