################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
/.vs/C-/FileContentIndex/7e182d8d-15d9-4ecb-abf7-83d7f983d44c.vsidx
/.vs/C-/v17/.wsuo
/.vs/C-/v17/DocumentLayout.backup.json
/.vs/C-/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Lab02/.vs/Lab02/CopilotIndices/17.14.1290.42047/CodeChunks.db
/Lab02/.vs/Lab02/CopilotIndices/17.14.1290.42047/CodeChunks.db-shm
/Lab02/.vs/Lab02/CopilotIndices/17.14.1290.42047/CodeChunks.db-wal
/Lab02/.vs/Lab02/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
/Lab02/.vs/Lab02/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-shm
/Lab02/.vs/Lab02/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-wal
/Lab02/.vs/Lab02/FileContentIndex/366f6c81-eb22-44a2-a023-e3a585d30100.vsidx
/Lab02/.vs/Lab02/v17/.suo
/Lab02/.vs/Lab02/v17/DocumentLayout.json
/.vs/C-/CopilotIndices/17.14.1347.20289/CodeChunks.db
/.vs/C-/CopilotIndices/17.14.1347.20289/CodeChunks.db-wal
/.vs/C-/CopilotIndices/17.14.1347.20289/CodeChunks.db-shm
/.vs/C-/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
/.vs/C-/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-shm
/.vs/C-/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-wal
/.vs/C-/FileContentIndex/1a895869-20de-4cec-b6b1-4b52d1e25602.vsidx
/.vs/C-/FileContentIndex/a6d1e890-c747-4152-9b5b-161b278944b7.vsidx
/.vs/C-/FileContentIndex/d7ec46ec-a458-4763-a05b-d264fc75b9ca.vsidx
/.vs/C-/FileContentIndex/cbdca31a-dcab-4e5d-9050-658a88095a64.vsidx
/.vs/C-/FileContentIndex/befc50a4-d898-4398-bc1e-5f11791827ea.vsidx
/.vs/C-/FileContentIndex/c2ac64c9-ca0a-4139-b721-59ec446550a5.vsidx
/.vs/C-/FileContentIndex/cb49eea1-5ac4-4d6f-86d5-e8c9c8c2aa1b.vsidx
/.vs/slnx.sqlite-journal
/.vs/C-/FileContentIndex/20bf3f75-391c-4753-9b0d-429047eaca0e.vsidx
/.vs/C-/FileContentIndex/026a87a0-e170-48ec-aca6-7a8505daa326.vsidx
/.vs/C-/FileContentIndex/74ba603b-b40f-49ec-92e9-a100070ce233.vsidx
/.vs/C-/FileContentIndex/e603da8d-7bb1-4a2e-8e25-14c747236176.vsidx
/.vs/C-/FileContentIndex/db9539b7-802f-448e-8811-a803e12ed50e.vsidx
/.vs/C-/FileContentIndex/4e6da8ab-fd1f-4412-80a8-5eb973d51c11.vsidx
/.vs/C-/FileContentIndex/f297f9f3-231f-4c87-9b15-abc073c2da50.vsidx
/.vs/C-/FileContentIndex/3c8e70d0-7440-49e6-ac37-5ed29201d541.vsidx
/.vs/C-/FileContentIndex/d3d8994c-be18-42c1-98f1-0ff036b502ff.vsidx
/.vs/C-/FileContentIndex/3a5830ae-8a8f-45ba-9bda-9e3aef13616c.vsidx
/.vs/C-/FileContentIndex/fb6d08f9-d8a3-41fd-b736-fa48865024bd.vsidx
/.vs/C-/FileContentIndex/084b3e44-ec13-4514-9be0-f42b2a9aff6b.vsidx
*.vsidx
