/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6 !important; /* Domyślny kolor granicy w BS5 */
}
/* Dostosowanie nagłówka tabeli do ciemnego tła BS5 */
.table-dark {
    background-color: #212529; /* Ciemne tło */
    color: #fff; /* Biały tekst */
}