<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Sekcja połączeń MUSI być tutaj, zaraz pod <configuration> -->
	<connectionStrings>
		<add name="PhoneBookDb"
			 connectionString="Data Source=DESKTOP-COV87SH\SQLEXPRESS;Initial Catalog=phoneBook;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Dopiero później sekcja startup -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

</configuration>
