USE [SystemTelefonicznyGY]
GO
/****** Object:  Table [dbo].[BilingiKomorkowe]    Script Date: 06.01.2026 22:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BilingiKomorkowe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DataPolaczenia] [datetime] NULL,
	[NumerTelefonu] [nvarchar](20) NULL,
	[NumerWybierany] [nvarchar](20) NULL,
	[TypPolaczenia] [nvarchar](50) NULL,
	[CzasTrwania] [nvarchar](20) NULL,
	[KwotaNetto] [decimal](18, 2) NULL,
	[KwotaBrutto] [decimal](18, 2) NULL,
	[NrFaktury] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BilingiStacjonarne]    Script Date: 06.01.2026 22:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BilingiStacjonarne](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DataPolaczenia] [datetime] NULL,
	[NumerTelefonu] [nvarchar](20) NULL,
	[NumerWybierany] [nvarchar](20) NULL,
	[TypPolaczenia] [nvarchar](50) NULL,
	[CzasTrwania] [nvarchar](20) NULL,
	[KwotaNetto] [decimal](18, 2) NULL,
	[KwotaBrutto] [decimal](18, 2) NULL,
	[NrFaktury] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dzialy]    Script Date: 06.01.2026 22:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dzialy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NazwaDzialu] [nvarchar](100) NOT NULL,
	[SkroconaNazwa] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumeryKomorkowe]    Script Date: 06.01.2026 22:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumeryKomorkowe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Numer] [nvarchar](20) NULL,
	[NumerKarty] [nvarchar](50) NULL,
	[PIN] [nvarchar](10) NULL,
	[PUK] [nvarchar](15) NULL,
	[PlanOpis] [nvarchar](max) NULL,
	[ID_Pracownika] [int] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumeryStacjonarne]    Script Date: 06.01.2026 22:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumeryStacjonarne](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Numer] [nvarchar](20) NULL,
	[LiniaTyp] [nvarchar](20) NULL,
	[ID_Pracownika] [int] NULL,
	[PrefiksKraj] [nvarchar](5) NULL,
	[PrefiksMiasto] [nvarchar](5) NULL,
	[Opis] [nvarchar](200) NULL,
	[StatusCOR] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pracownicy]    Script Date: 06.01.2026 22:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pracownicy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [nvarchar](50) NULL,
	[Nazwisko] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Haslo] [nvarchar](50) NULL,
	[Kraj] [nvarchar](50) NULL,
	[MenagerID] [int] NULL,
	[MenagerName] [nvarchar](100) NULL,
	[Rola] [nvarchar](20) NULL,
	[ID_Dzialu] [int] NULL,
	[ID_Stanowiska] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stanowiska]    Script Date: 06.01.2026 22:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stanowiska](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NazwaStanowiska] [nvarchar](100) NOT NULL,
	[ID_Dzialu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urzadzenia]    Script Date: 06.01.2026 22:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urzadzenia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Aparat] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[IMEI_MAC] [nvarchar](50) NULL,
	[SN] [nvarchar](50) NULL,
	[ZakupData] [date] NULL,
	[NrZamowienia] [nvarchar](50) NULL,
	[NrInwentarzowy] [nvarchar](50) NULL,
	[DataWydania] [date] NULL,
	[DataZwrotu] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[ID_Pracownika] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NumeryKomorkowe] ADD  DEFAULT ('aktywny') FOR [Status]
GO
ALTER TABLE [dbo].[NumeryStacjonarne] ADD  DEFAULT ('lokalnie') FOR [StatusCOR]
GO
ALTER TABLE [dbo].[NumeryKomorkowe]  WITH CHECK ADD FOREIGN KEY([ID_Pracownika])
REFERENCES [dbo].[Pracownicy] ([ID])
GO
ALTER TABLE [dbo].[NumeryStacjonarne]  WITH CHECK ADD FOREIGN KEY([ID_Pracownika])
REFERENCES [dbo].[Pracownicy] ([ID])
GO
ALTER TABLE [dbo].[Pracownicy]  WITH CHECK ADD FOREIGN KEY([ID_Dzialu])
REFERENCES [dbo].[Dzialy] ([ID])
GO
ALTER TABLE [dbo].[Stanowiska]  WITH CHECK ADD FOREIGN KEY([ID_Dzialu])
REFERENCES [dbo].[Dzialy] ([ID])
GO
ALTER TABLE [dbo].[Urzadzenia]  WITH CHECK ADD FOREIGN KEY([ID_Pracownika])
REFERENCES [dbo].[Pracownicy] ([ID])
GO
