@{
    ViewBag.Title = "O nas";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p><a href="https://wsiz.edu.pl/"></a></p> click here to visit WSIZ Rzeszów website.

    <p>Use this area to provide additional information.</p>
</main>