@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">WSIZ w Rzeszowie</h1>
        <p class="lead">Wyższa Szkoła Informatyki i Zarządzania z siedzibą w Rzeszowie to największa niepubliczna uczelnia wyższa na Podkarpaciu. Powstała 8 marca 1996 roku jako rozwinięcie działalności Rzeszowskiej Szkoły Menadżerów i Stowarzyszenia Promocji i Przedsiębiorczości.</p>
        <p><a href="https://wsiz.edu.pl/" class="btn btn-primary btn-md">Strona Uczelni &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="forStudentsTitle">
            <h2 id="forStudentsTitle">Dla Studenta</h2>
            <p>
                Studia w Wyższej Szkole Informatyki i Zarządzania w Rzeszowie to doskonałe rozwiązanie dla wszystkich, którzy chcą się rozwijać i realizować swoje pasje.
            </p>
            <p><a class="btn btn-outline-dark" href="https://wsiz.edu.pl/dla-studenta/">Dowiedz się więcej &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="forCandidateTitle">
            <h2 id="forCandidateTitle">Dla Kandydata</h2>
            <p>Wszystko o rekrutacji na WSIiZ w Rzeszowie.</p>
            <p><a class="btn btn-outline-dark" href="https://wsiz.edu.pl/dla-kandydata/">Dowiedz się więcej &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="forBusinessTitle">
            <h2 id="forBusinessTitle">Dla Biznesu</h2>
            <p>Rynek i jego potrzeby dobrze znamy od ponad 25 lat, a współpracę z każdym partnerem opieramy na szacunku i indywidualnym podejściu. </p>
            <p><a class="btn btn-outline-dark" href="https://wsiz.edu.pl/dla-biznesu/">Dowiedz się więcej &raquo;</a></p>
        </section>
    </div>
</main>